.about {
  padding: 10px 8%;
  padding-bottom: 7rem;
  min-height: 100vh;
  background-color: var(--lightPrimary);
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.about .wave svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 150px;
}

.about .wave .shape-fill {
  fill: var(--primary);
}

.profile-card {
  width: 50vw;
  height: 60vh;
  border-radius: 7px;
  margin: 10rem 20px 0 0;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background: linear-gradient(
    to top right,
    rgb(168, 196, 207),
    rgb(221, 229, 235)
  );
  overflow: hidden;
  position: relative;

  box-shadow: -30px 30px rgb(42, 216, 127);
}

img {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 25em;
  visibility: visible;
}

span {
  color: var(--secondary);
}

.about .heading {
  font-size: 3rem;
  text-align: left;
  line-height: 1.2;
  padding-bottom: 1rem;
  margin: 5rem 0 0 0;
}

.about .about-content {
  margin: 10rem 0 5rem 20px;
}
